:root {
  --light-green: #299;
  --dark-green: #277;
  --goldenrod: #daa520;
  --dark-olive: #6b8232;
  --navbar-blue: #0047b3;
  --light-blue: #0066ff;
}

* {
  font-family: "Catamaran", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
